*{
  box-sizing:border-box;
  padding:0px;
  margin:0px;
}

body{
    background:#99004C;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container{
    background-color:#000033;
    width:320px;
    height:500px;
    margin:auto;
    text-align:center;
    color:wheat;
    
     
}

h3{
    margin-top:2rem;
    font-size: 25px;
}
h2{
    background-color: black;
    padding:7px;
}

#result{
    text-align: center;
    margin-top:2rem;
}
#stats{
    text-align: center;
    margin-top:3rem;
}

.footer{
    margin-top:150px;
    text-align:center;
    padding:10px;
    background-color: black;
    color:rgb(241, 215, 167);
    font-size:17px;
    font-weight:bold;
}

.container > input{
    border:5px solid #99004C;
    padding:10px;
    opacity:0.5;
    margin-top:2rem;
    width:290px;
    color:black;
    font-size: 17px;
    
}


.container > input:focus{
    border:5px solid #99004C;
}

button{
    font-size:15px;
    border:none;
    margin-top:2rem;
    width:250px;
    font-weight:bold;
    padding:12px 30px 12px 30px;
    color:white;
    background-color:#99004C;
}