*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(199, 178, 61);
    font-family: Arial, Helvetica, sans-serif;

}
#game{
    width:350px;
    height:200px;
    margin:auto;
    border:1px solid black;
}
.text{
    text-align: center;
    color:rgb(11, 11, 65);
    padding:2rem;
}

#character{
  
    width:20px;
    height:40px;
    outline:none;
    border:none;
    background-color:wheat;
    position: relative;
    margin-left:10px;
    top:150px;
}

.header{
    background:black;
    color:white;
    width:350px;
    margin: auto;
}

.header h2{
    text-align:center;

}

#game{
    background: crimson;
    border:5px solid midnightblue;
}

#block{
    width:15px;
    height:15px;
    background-color:blue;
    position: relative;
    top:135px;
    left:320px;
    animation: block 2.5s infinite linear;

}

.animate{
    animation: jump 505ms infinite ease;

}

@keyframes block{
    0%{left:320px;}
    100%{left:-9px;}
}

@keyframes jump{
    0%{top:150px;}
    30%{top:100px;}
    70%{top:100px;}
    100%{top:150px;}

}