*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

body{
    background-color: rgb(11, 14, 54);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color:midnightblue;
    color:gold;
    width:320px;
    height:100%;
    margin:auto;
}

.footer{
    margin-top:320px;
    text-align:center;
    padding:10px;
    background-color: gold;
    color:midnightblue;
    font-size:17px;
    font-weight:bold;
}
.selections {
    display:flex;
    justify-content: center;
}
.header{
    text-align:center;
    background-color: black;
    font-size:1.5rem;
    padding:10px;
    
}
.selection {
   background: none;
   border:none;
   outline:none;
   cursor: pointer;
   font-size:5rem; 
   transition:100ms;
}

.selection:hover{
    transform:scale(1.2);
}

.results{
    margin-top:1rem;
    display:grid;
    justify-content:center;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-items:center;
}

.result-score{
    margin-left:.1rem; 
    font-size:17px;
    opacity:1;
    color:#333;
}

.result-selection{
    opacity:0.5;
}
.result-selection.winner{
     opacity:1;
     font-size:1.5rem;
}
