<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/guess.css">
    <title>FRIPPY | NGG Supreme</title>
</head>
<body>
    <br>
    <br>
    <div class="container">
        <h2>Number Guessing Game</h1>
        <h3>Guess a Number</h2>
        <small>From 1 to 50</small>
        <br>
        <input autofocus required id="input"  type="number" placeholder="Enter a Number...">
        <br>
        <button id="btn">GUESS</button>
        <p id="result"></p>
        <br>
        <small id="stats"></small>
        <div class="footer">Copyright &copy; Abdul Wahab</div>

        </div>

    </div>


    <script src="/static/guess.js"></script>
</body>
</html>